body {
    display: flex;
    justify-content: space-around;

    width: 100vw;
    height: 100vh;
    margin: 0px;
}

nav > .contentsContainer {
    width: 15vw;
    margin-top: 20px;
    padding: 5px;

    box-shadow: 0px 0px 15px -12px black;
    border-radius: 20px;

    list-style-type: none;

    text-align: center;
}

.pageList {
    padding: 0px;
}
.contentsContainer > li:first-of-type {
    margin-top: 5px;
}
.contentsContainer > li:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
    padding: 7px 0px;
}
.contentsContainer > li:last-of-type {
    margin-bottom: 10px;
    padding-top: 7px;
}


.pageList > li {
    list-style-type: none;
    
    width: 50vw;
    margin-bottom: 75px;
}
.contentsContainer {
    border-radius: 20px;
    box-shadow: 0px 0px 15px -12px black;
    margin-bottom: 15px;
}

.contentsContainer > div {
    padding: 10px;
    text-align: center;
}
.contentsContainer > div:not(:last-of-type) {
    border-bottom: 1px solid #aaa;
}
a {
    color: #444;
    text-decoration: none;
}

sidebar {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.imgbutton {
    margin: 10px;
    width: 35px;   height: 35px;

    border: none;
    border-radius: 20px;
}
.imgbutton:hover {
    cursor: pointer;
}
.darkmodeToggle {
    background: url("./src/dark.png") no-repeat;
    background-size: contain;
}
.lightmodeToggle {
    background: url("./src/light.png") no-repeat;
    background-size: contain;
}

.githubButton {
    background: url("./src/githubCI.png") no-repeat;
    background-size: contain;
}
.githubLightButton {
    background: url("./src/githubLightCI.png") no-repeat;
    background-size: contain;
}



.darkThemeMainBgColor {
    background-color: #2b2b2b;
}
.darkThemeSubBgColor {
    background-color: #3d3d3d;
}
.darkThemeMainColor {
    color: #d3d3d3;
}